fastapi==0.116.1
uvicorn[standard]==0.35.0
celery[redis]==5.5.3
pydantic-settings==2.10.1
httpx==0.28.1
pypinyin>=0.53,<1
pykakasi>=2.3,<3
python-multipart==0.0.20
imageio-ffmpeg==0.6.0
PyYAML==6.0.2
oss2==2.19.1
scenedetect[opencv]==0.6.7.1
cryptography>=42
