{"openapi":"3.1.0","info":{"title":"AI Centre 2 企业级 AI 中台接口","description":"面向第三方系统的 URL 素材接口。除健康检查外，所有接口均需 Bearer Token。","version":"2.0.0"},"servers":[{"url":"https://aicentre2.sligenai.cn:8443","description":"生产 HTTPS 网关"},{"url":"http://127.0.0.1:8320","description":"服务器本机调试地址"}],"paths":{"/health":{"get":{"tags":["系统状态"],"summary":"检查中台与上游服务健康状态","operationId":"health_health_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"additionalProperties":true,"type":"object","title":"Response Health Health Get"}}}}}}},"/v1/asr/transcriptions":{"post":{"tags":["语音识别"],"summary":"通过音视频 URL 识别文字","operationId":"transcribe_v1_asr_transcriptions_post","parameters":[{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ASRUrlRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Transcribe V1 Asr Transcriptions Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/lipsync/jobs":{"post":{"tags":["唇形驱动"],"summary":"通过视频和音频 URL 创建唇形驱动任务","operationId":"create_lipsync_job_v1_lipsync_jobs_post","parameters":[{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LipSyncUrlRequest"}}}},"responses":{"202":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Create Lipsync Job V1 Lipsync Jobs Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["唇形驱动"],"summary":"查询唇形驱动任务列表","operationId":"list_lipsync_jobs_v1_lipsync_jobs_get","parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":50,"title":"Limit"}},{"name":"state","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"State"}},{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response List Lipsync Jobs V1 Lipsync Jobs Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/lipsync/jobs/{job_id}":{"get":{"tags":["唇形驱动"],"summary":"查询唇形驱动任务状态","operationId":"get_lipsync_job_v1_lipsync_jobs__job_id__get","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","title":"Job Id"}},{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Get Lipsync Job V1 Lipsync Jobs  Job Id  Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/lipsync/jobs/{job_id}/video":{"get":{"tags":["唇形驱动"],"summary":"下载唇形驱动结果视频","operationId":"get_lipsync_video_v1_lipsync_jobs__job_id__video_get","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","title":"Job Id"}},{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/lipsync/jobs/{job_id}/logs":{"get":{"tags":["唇形驱动"],"summary":"查询唇形驱动任务日志","operationId":"get_lipsync_logs_v1_lipsync_jobs__job_id__logs_get","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","title":"Job Id"}},{"name":"stage","in":"query","required":false,"schema":{"type":"string","default":"musetalk","title":"Stage"}},{"name":"tail","in":"query","required":false,"schema":{"type":"integer","default":200,"title":"Tail"}},{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Get Lipsync Logs V1 Lipsync Jobs  Job Id  Logs Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/lipsync/jobs/{job_id}/cancel":{"post":{"tags":["唇形驱动"],"summary":"取消唇形驱动任务","operationId":"cancel_lipsync_job_v1_lipsync_jobs__job_id__cancel_post","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","title":"Job Id"}},{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Cancel Lipsync Job V1 Lipsync Jobs  Job Id  Cancel Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/ocr/batch":{"post":{"tags":["OCR 文字识别"],"summary":"通过图片 URL 批量识别文字","operationId":"ocr_url_batch_v1_ocr_batch_post","parameters":[{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OCRUrlBatchRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/face-mosaic/jobs":{"post":{"tags":["人脸处理"],"summary":"通过视频 URL 创建人脸处理任务","operationId":"create_face_url_job_v1_face_mosaic_jobs_post","parameters":[{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FaceUrlJobRequest"}}}},"responses":{"202":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Create Face Url Job V1 Face Mosaic Jobs Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/face-mosaic/jobs/wait":{"post":{"tags":["人脸处理"],"summary":"提交人脸处理并等待 OSS 结果","operationId":"create_face_url_job_and_wait_v1_face_mosaic_jobs_wait_post","parameters":[{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FaceUrlJobRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Create Face Url Job And Wait V1 Face Mosaic Jobs Wait Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/face-mosaic/jobs/{job_id}":{"get":{"tags":["人脸处理"],"summary":"查询人脸处理任务状态","operationId":"get_face_url_job_v1_face_mosaic_jobs__job_id__get","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","title":"Job Id"}},{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Get Face Url Job V1 Face Mosaic Jobs  Job Id  Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/face-mosaic/jobs/{job_id}/cancel":{"post":{"tags":["人脸处理"],"summary":"取消人脸处理任务","operationId":"cancel_face_url_job_v1_face_mosaic_jobs__job_id__cancel_post","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","title":"Job Id"}},{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Cancel Face Url Job V1 Face Mosaic Jobs  Job Id  Cancel Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/video-scenes/jobs":{"post":{"tags":["视频切片"],"summary":"创建异步 SceneDetect 视频切片任务","operationId":"create_scene_job_v1_video_scenes_jobs_post","parameters":[{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SceneUrlJobRequest"}}}},"responses":{"202":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Create Scene Job V1 Video Scenes Jobs Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/video-scenes/jobs/wait":{"post":{"tags":["视频切片"],"summary":"高优先级提交视频切片并等待 OSS 结果","operationId":"create_scene_job_and_wait_v1_video_scenes_jobs_wait_post","parameters":[{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SceneUrlJobRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Create Scene Job And Wait V1 Video Scenes Jobs Wait Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/video-scenes/jobs/{job_id}":{"get":{"tags":["视频切片"],"summary":"查询视频切片任务","operationId":"get_scene_job_v1_video_scenes_jobs__job_id__get","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Job Id"}},{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Get Scene Job V1 Video Scenes Jobs  Job Id  Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/video-scenes/jobs/{job_id}/cancel":{"post":{"tags":["视频切片"],"summary":"取消视频切片任务","operationId":"cancel_scene_job_v1_video_scenes_jobs__job_id__cancel_post","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Job Id"}},{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Cancel Scene Job V1 Video Scenes Jobs  Job Id  Cancel Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/video-reviews/jobs":{"post":{"tags":["AI 视频拉片"],"summary":"创建无参考 AI 视频拉片与拆审任务","operationId":"create_video_review_job_v1_video_reviews_jobs_post","parameters":[{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VideoReviewUrlJobRequest"}}}},"responses":{"202":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Create Video Review Job V1 Video Reviews Jobs Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/video-reviews/jobs/{job_id}":{"get":{"tags":["AI 视频拉片"],"summary":"查询 AI 视频拉片任务","operationId":"get_video_review_job_v1_video_reviews_jobs__job_id__get","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Job Id"}},{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Get Video Review Job V1 Video Reviews Jobs  Job Id  Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/video-reviews/jobs/{job_id}/report":{"get":{"tags":["AI 视频拉片"],"summary":"获取 AI 视频拉片报告","operationId":"get_video_review_report_v1_video_reviews_jobs__job_id__report_get","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Job Id"}},{"name":"format","in":"query","required":false,"schema":{"enum":["json","markdown","html"],"type":"string","default":"json","title":"Format"}},{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Get Video Review Report V1 Video Reviews Jobs  Job Id  Report Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/video-reviews/jobs/{job_id}/cancel":{"post":{"tags":["AI 视频拉片"],"summary":"取消 AI 视频拉片任务","operationId":"cancel_video_review_job_v1_video_reviews_jobs__job_id__cancel_post","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Job Id"}},{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Cancel Video Review Job V1 Video Reviews Jobs  Job Id  Cancel Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/watermark-removal/jobs":{"post":{"tags":["水印处理"],"summary":"创建异步视频水印处理任务","operationId":"create_watermark_job_v1_watermark_removal_jobs_post","parameters":[{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WatermarkUrlJobRequest"}}}},"responses":{"202":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Create Watermark Job V1 Watermark Removal Jobs Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/watermark-removal/jobs/wait":{"post":{"tags":["水印处理"],"summary":"同步等待视频水印处理结果","operationId":"create_watermark_job_and_wait_v1_watermark_removal_jobs_wait_post","parameters":[{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WatermarkUrlJobRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Create Watermark Job And Wait V1 Watermark Removal Jobs Wait Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/watermark-removal/jobs/{job_id}":{"get":{"tags":["水印处理"],"summary":"查询视频水印处理任务","operationId":"get_watermark_job_v1_watermark_removal_jobs__job_id__get","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Job Id"}},{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Get Watermark Job V1 Watermark Removal Jobs  Job Id  Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/watermark-removal/jobs/{job_id}/cancel":{"post":{"tags":["水印处理"],"summary":"取消视频水印处理任务","operationId":"cancel_watermark_job_v1_watermark_removal_jobs__job_id__cancel_post","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Job Id"}},{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Cancel Watermark Job V1 Watermark Removal Jobs  Job Id  Cancel Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/video-upscale/jobs":{"post":{"tags":["视频超分"],"summary":"创建智能渠道视频超分任务","operationId":"create_video_upscale_job_v1_video_upscale_jobs_post","parameters":[{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VideoUpscaleUrlJobRequest"}}}},"responses":{"202":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Create Video Upscale Job V1 Video Upscale Jobs Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/video-upscale/jobs/wait":{"post":{"tags":["视频超分"],"summary":"高优先级提交视频超分并等待智能渠道结果","operationId":"create_video_upscale_job_and_wait_v1_video_upscale_jobs_wait_post","parameters":[{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VideoUpscaleUrlJobRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Create Video Upscale Job And Wait V1 Video Upscale Jobs Wait Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/video-upscale/jobs/{job_id}":{"get":{"tags":["视频超分"],"summary":"查询视频超分任务","operationId":"get_video_upscale_job_v1_video_upscale_jobs__job_id__get","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Job Id"}},{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Get Video Upscale Job V1 Video Upscale Jobs  Job Id  Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/video-upscale/jobs/{job_id}/cancel":{"post":{"tags":["视频超分"],"summary":"取消视频超分任务","operationId":"cancel_video_upscale_job_v1_video_upscale_jobs__job_id__cancel_post","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Job Id"}},{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Cancel Video Upscale Job V1 Video Upscale Jobs  Job Id  Cancel Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/video-depth/jobs":{"post":{"tags":["视频深度推理"],"summary":"创建异步单目视频深度推理任务","operationId":"create_depth_job_v1_video_depth_jobs_post","parameters":[{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DepthUrlJobRequest"}}}},"responses":{"202":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Create Depth Job V1 Video Depth Jobs Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/video-depth/jobs/wait":{"post":{"tags":["视频深度推理"],"summary":"高优先级提交视频深度推理并等待结果","operationId":"create_depth_job_and_wait_v1_video_depth_jobs_wait_post","parameters":[{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DepthUrlJobRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Create Depth Job And Wait V1 Video Depth Jobs Wait Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/video-depth/jobs/{job_id}":{"get":{"tags":["视频深度推理"],"summary":"查询视频深度推理任务","operationId":"get_depth_job_v1_video_depth_jobs__job_id__get","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Job Id"}},{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Get Depth Job V1 Video Depth Jobs  Job Id  Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/video-depth/jobs/{job_id}/cancel":{"post":{"tags":["视频深度推理"],"summary":"取消视频深度推理任务","operationId":"cancel_depth_job_v1_video_depth_jobs__job_id__cancel_post","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Job Id"}},{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Cancel Depth Job V1 Video Depth Jobs  Job Id  Cancel Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/audio-separation/jobs":{"post":{"tags":["音频分离"],"summary":"创建异步对白、音乐和音效分离任务","operationId":"create_audio_separation_job_v1_audio_separation_jobs_post","parameters":[{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AudioSeparationUrlJobRequest"}}}},"responses":{"202":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Create Audio Separation Job V1 Audio Separation Jobs Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/audio-separation/jobs/wait":{"post":{"tags":["音频分离"],"summary":"高优先级提交音频分离并等待四轨OSS结果","operationId":"create_audio_separation_job_and_wait_v1_audio_separation_jobs_wait_post","parameters":[{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AudioSeparationUrlJobRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Create Audio Separation Job And Wait V1 Audio Separation Jobs Wait Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/audio-separation/jobs/{job_id}":{"get":{"tags":["音频分离"],"summary":"查询音频分离任务","operationId":"get_audio_separation_job_v1_audio_separation_jobs__job_id__get","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Job Id"}},{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Get Audio Separation Job V1 Audio Separation Jobs  Job Id  Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/audio-separation/jobs/{job_id}/cancel":{"post":{"tags":["音频分离"],"summary":"取消音频分离任务","operationId":"cancel_audio_separation_job_v1_audio_separation_jobs__job_id__cancel_post","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Job Id"}},{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Cancel Audio Separation Job V1 Audio Separation Jobs  Job Id  Cancel Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/tts/speech":{"post":{"tags":["语音合成"],"summary":"语音合成或 VoxCPM2 深度语音克隆","operationId":"synthesize_v2_v2_tts_speech_post","parameters":[{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TTSPublicSpeechRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/tts/speech/stream":{"post":{"tags":["语音合成"],"summary":"实时流式 VoxCPM2 语音合成","operationId":"synthesize_v2_stream_v2_tts_speech_stream_post","parameters":[{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TTSPublicSpeechRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/tts/quality/{request_id}":{"get":{"tags":["语音合成"],"summary":"查询语音合成异步质量审计","operationId":"get_tts_quality_v2_tts_quality__request_id__get","parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Request Id"}},{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Get Tts Quality V2 Tts Quality  Request Id  Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/tts/jobs":{"post":{"tags":["语音合成"],"summary":"创建异步语音合成任务","operationId":"create_tts_job_v2_tts_jobs_post","parameters":[{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TTSJobRequest"}}}},"responses":{"202":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TTSJobAccepted"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/tts/jobs/{job_id}":{"get":{"tags":["语音合成"],"summary":"查询异步语音合成任务状态","operationId":"get_tts_job_v2_tts_jobs__job_id__get","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","title":"Job Id"}},{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TTSJobStatus"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/tts/jobs/{job_id}/audio":{"get":{"tags":["语音合成"],"summary":"下载异步语音合成结果","operationId":"get_tts_job_audio_v2_tts_jobs__job_id__audio_get","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","title":"Job Id"}},{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/tts/providers":{"get":{"tags":["语音合成"],"summary":"查询语音合成服务商状态","operationId":"tts_provider_statuses_v2_tts_providers_get","parameters":[{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Tts Provider Statuses V2 Tts Providers Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/tts/voices":{"get":{"tags":["语音合成"],"summary":"查询可用音色档案","operationId":"list_tts_voices_v2_tts_voices_get","parameters":[{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response List Tts Voices V2 Tts Voices Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/video-generations/jobs":{"post":{"tags":["通用视频生成"],"summary":"创建原子视频生成任务","operationId":"create_video_generation_job_v1_video_generations_jobs_post","parameters":[{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VideoGenerationRequest"}}}},"responses":{"202":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Create Video Generation Job V1 Video Generations Jobs Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/video-generations/jobs/{job_id}":{"get":{"tags":["通用视频生成"],"summary":"查询原子视频生成任务","operationId":"get_video_generation_job_v1_video_generations_jobs__job_id__get","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Job Id"}},{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Get Video Generation Job V1 Video Generations Jobs  Job Id  Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/video-generations/jobs/{job_id}/cancel":{"post":{"tags":["通用视频生成"],"summary":"取消原子视频生成任务","operationId":"cancel_video_generation_job_v1_video_generations_jobs__job_id__cancel_post","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Job Id"}},{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Cancel Video Generation Job V1 Video Generations Jobs  Job Id  Cancel Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/image-generations/jobs":{"post":{"tags":["图像生成"],"summary":"创建原子图像生成任务","operationId":"create_image_generation_job_v1_image_generations_jobs_post","parameters":[{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImageGenerationRequest"}}}},"responses":{"202":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Create Image Generation Job V1 Image Generations Jobs Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/image-generations/jobs/{job_id}":{"get":{"tags":["图像生成"],"summary":"查询原子图像生成任务","operationId":"get_image_generation_job_v1_image_generations_jobs__job_id__get","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Job Id"}},{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Get Image Generation Job V1 Image Generations Jobs  Job Id  Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/image-generations/jobs/{job_id}/cancel":{"post":{"tags":["图像生成"],"summary":"取消原子图像生成任务","operationId":"cancel_image_generation_job_v1_image_generations_jobs__job_id__cancel_post","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Job Id"}},{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Cancel Image Generation Job V1 Image Generations Jobs  Job Id  Cancel Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/video-generations/minimax-h3/jobs":{"post":{"tags":["MiniMax H3视频生成"],"summary":"创建异步MiniMax H3视频生成任务","operationId":"create_h3_job_v1_video_generations_minimax_h3_jobs_post","parameters":[{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/H3VideoJobRequest"}}}},"responses":{"202":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Create H3 Job V1 Video Generations Minimax H3 Jobs Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/video-generations/minimax-h3/jobs/{job_id}":{"get":{"tags":["MiniMax H3视频生成"],"summary":"查询MiniMax H3视频生成任务","operationId":"get_h3_job_v1_video_generations_minimax_h3_jobs__job_id__get","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Job Id"}},{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Get H3 Job V1 Video Generations Minimax H3 Jobs  Job Id  Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/video-generations/minimax-h3/jobs/{job_id}/queue-position":{"get":{"tags":["MiniMax H3视频生成"],"summary":"查询MiniMax H3任务排队位置","operationId":"get_h3_queue_position_v1_video_generations_minimax_h3_jobs__job_id__queue_position_get","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Job Id"}},{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Get H3 Queue Position V1 Video Generations Minimax H3 Jobs  Job Id  Queue Position Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/video-generations/minimax-h3/workers/status":{"get":{"tags":["MiniMax H3视频生成"],"summary":"查询MiniMax H3 Worker汇总状态","operationId":"get_h3_worker_status_v1_video_generations_minimax_h3_workers_status_get","parameters":[{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Get H3 Worker Status V1 Video Generations Minimax H3 Workers Status Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/video-generations/minimax-h3/jobs/{job_id}/cancel":{"post":{"tags":["MiniMax H3视频生成"],"summary":"取消MiniMax H3视频生成任务","operationId":"cancel_h3_job_v1_video_generations_minimax_h3_jobs__job_id__cancel_post","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Job Id"}},{"name":"authorization","in":"header","required":false,"schema":{"type":"string","default":"","title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Cancel H3 Job V1 Video Generations Minimax H3 Jobs  Job Id  Cancel Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"ASRUrlRequest":{"properties":{"file_url":{"type":"string","maxLength":4096,"minLength":1,"title":"File Url"},"language":{"anyOf":[{"type":"string","maxLength":16,"minLength":2},{"type":"null"}],"title":"Language","description":"语言代码；省略或传 auto 时自动识别","default":"auto"},"beam_size":{"type":"integer","maximum":10.0,"minimum":1.0,"title":"Beam Size","default":5}},"additionalProperties":false,"type":"object","required":["file_url"],"title":"ASRUrlRequest","examples":[{"beam_size":5,"file_url":"https://storage.example.com/audio/demo-10s.mp3","language":"auto"}]},"AudioSeparationUrlJobRequest":{"properties":{"source_uri":{"type":"string","maxLength":4096,"minLength":1,"title":"Source Uri","description":"公网HTTPS音频或视频URL；支持签名查询参数。"},"model":{"type":"string","const":"bandit-v2-multilingual","title":"Model","description":"影视对白、音乐和音效三轨分离模型。","default":"bandit-v2-multilingual"},"filename_prefix":{"type":"string","maxLength":128,"minLength":1,"pattern":"^[^/\\\\]+$","title":"Filename Prefix","description":"四个WAV结果文件的名称前缀。","default":"separated"},"external_ref":{"anyOf":[{"type":"string","maxLength":256},{"type":"null"}],"title":"External Ref"},"run_id":{"anyOf":[{"type":"string","maxLength":256},{"type":"null"}],"title":"Run Id"},"campaign_id":{"anyOf":[{"type":"string","maxLength":256},{"type":"null"}],"title":"Campaign Id"},"project_id":{"anyOf":[{"type":"string","maxLength":256},{"type":"null"}],"title":"Project Id"},"metadata":{"additionalProperties":true,"type":"object","title":"Metadata"}},"additionalProperties":false,"type":"object","required":["source_uri"],"title":"AudioSeparationUrlJobRequest","examples":[{"external_ref":"order-20260820-001","filename_prefix":"separated","metadata":{},"model":"bandit-v2-multilingual","source_uri":"https://storage.example.com/video/source.mp4"}]},"AudioSpec":{"properties":{"format":{"type":"string","title":"Format","default":"wav"},"sample_rate":{"type":"integer","maximum":48000.0,"minimum":8000.0,"title":"Sample Rate","default":48000},"channels":{"type":"integer","maximum":2.0,"minimum":1.0,"title":"Channels","default":1}},"type":"object","title":"AudioSpec"},"DepthUrlJobRequest":{"properties":{"source_uri":{"type":"string","maxLength":4096,"minLength":1,"title":"Source Uri"},"version":{"type":"string","enum":["da2","da3"],"title":"Version","description":"深度模型版本：da2 为 Video Depth Anything，da3 为 Depth Anything 3。","default":"da2"},"model":{"type":"string","enum":["small","base"],"title":"Model","description":"模型规模；Small 显存更低、速度更快，Base 细节更强。","default":"small"},"filename":{"type":"string","maxLength":256,"minLength":1,"pattern":"^[^/\\\\]+\\.mp4$","title":"Filename","default":"depth.mp4"},"input_size":{"type":"integer","multipleOf":14.0,"maximum":756.0,"minimum":224.0,"title":"Input Size","default":518},"max_resolution":{"type":"integer","maximum":1920.0,"minimum":224.0,"title":"Max Resolution","default":960},"target_fps":{"type":"number","maximum":60.0,"minimum":-1.0,"title":"Target Fps","description":"-1 保持原始帧率，正数表示抽帧后的目标帧率。","default":-1},"external_ref":{"anyOf":[{"type":"string","maxLength":256},{"type":"null"}],"title":"External Ref"},"run_id":{"anyOf":[{"type":"string","maxLength":256},{"type":"null"}],"title":"Run Id"},"campaign_id":{"anyOf":[{"type":"string","maxLength":256},{"type":"null"}],"title":"Campaign Id"},"project_id":{"anyOf":[{"type":"string","maxLength":256},{"type":"null"}],"title":"Project Id"},"metadata":{"additionalProperties":true,"type":"object","title":"Metadata"}},"additionalProperties":false,"type":"object","required":["source_uri"],"title":"DepthUrlJobRequest","examples":[{"external_ref":"order-20260820-001","filename":"depth.mp4","input_size":518,"max_resolution":960,"metadata":{},"model":"small","source_uri":"https://storage.example.com/video/source.mp4","target_fps":-1,"version":"da2"}]},"FaceUrlJobRequest":{"properties":{"source_uri":{"type":"string","maxLength":4096,"minLength":1,"title":"Source Uri"},"filename":{"type":"string","maxLength":256,"minLength":1,"title":"Filename","default":"face_mosaic.mp4"},"external_ref":{"anyOf":[{"type":"string","maxLength":256},{"type":"null"}],"title":"External Ref"},"run_id":{"anyOf":[{"type":"string","maxLength":256},{"type":"null"}],"title":"Run Id"},"campaign_id":{"anyOf":[{"type":"string","maxLength":256},{"type":"null"}],"title":"Campaign Id"},"project_id":{"anyOf":[{"type":"string","maxLength":256},{"type":"null"}],"title":"Project Id"},"metadata":{"additionalProperties":true,"type":"object","title":"Metadata"}},"additionalProperties":false,"type":"object","required":["source_uri"],"title":"FaceUrlJobRequest","examples":[{"external_ref":"order-20260802-001","filename":"face_mosaic.mp4","metadata":{},"source_uri":"https://storage.example.com/video/source.mp4"}]},"H3VideoJobRequest":{"properties":{"reference_video_urls":{"items":{"type":"string"},"type":"array","maxItems":8,"title":"Reference Video Urls"},"reference_image_urls":{"items":{"type":"string"},"type":"array","maxItems":8,"title":"Reference Image Urls"},"reference_audio_urls":{"items":{"type":"string"},"type":"array","maxItems":8,"title":"Reference Audio Urls"},"prompt":{"type":"string","maxLength":20000,"minLength":1,"title":"Prompt"},"duration_seconds":{"type":"number","maximum":15.0,"minimum":2.0,"title":"Duration Seconds","default":5},"resolution":{"type":"string","enum":["480p","720p","1080p"],"title":"Resolution","default":"720p"},"quality":{"type":"string","enum":["low","medium","midia","high"],"title":"Quality","description":"质量路由：low快速预览；medium默认生产；high质量采样。midia兼容为medium。","default":"medium"},"aspect_ratio":{"type":"string","enum":["9:16","16:9","1:1","4:3","3:4"],"title":"Aspect Ratio","default":"9:16"},"width":{"anyOf":[{"type":"integer","multipleOf":32.0,"maximum":1344.0,"minimum":32.0},{"type":"null"}],"title":"Width"},"height":{"anyOf":[{"type":"integer","multipleOf":32.0,"maximum":1344.0,"minimum":32.0},{"type":"null"}],"title":"Height"},"seed":{"type":"integer","maximum":1.8446744073709552e+19,"minimum":0.0,"title":"Seed","default":482901731},"priority":{"type":"integer","maximum":1000.0,"minimum":1.0,"title":"Priority","description":"任务优先级，数值越高越先分配空闲Worker；不会中断已运行任务。","default":500},"external_ref":{"anyOf":[{"type":"string","maxLength":256},{"type":"null"}],"title":"External Ref"},"metadata":{"additionalProperties":true,"type":"object","title":"Metadata"}},"additionalProperties":false,"type":"object","required":["prompt"],"title":"H3VideoJobRequest","examples":[{"aspect_ratio":"9:16","duration_seconds":5,"external_ref":"order-001","metadata":{},"priority":500,"prompt":"一只雄鹰在黑夜中飞过雪山，电影级光影","quality":"medium","resolution":"480p","seed":482901731},{"aspect_ratio":"9:16","duration_seconds":5,"external_ref":"order-002","metadata":{},"priority":500,"prompt":"完整MiniMax H3提示词","quality":"medium","reference_audio_urls":["https://storage.example.com/reference.mp3"],"reference_image_urls":["https://storage.example.com/identity.png"],"reference_video_urls":["https://storage.example.com/reference.mp4"],"resolution":"480p","seed":482901731}]},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"ImageGenerationRequest":{"properties":{"model":{"type":"string","enum":["gpt-image-2","gpt-image-2.5","gpt-image-2.5-sunburst","gpt-image-2.5-flare","nano-banana-2"],"title":"Model","default":"gpt-image-2"},"channel":{"type":"string","const":"grsai","title":"Channel","default":"grsai"},"prompt":{"type":"string","maxLength":10000,"minLength":1,"title":"Prompt"},"reference_image_urls":{"items":{"type":"string"},"type":"array","maxItems":9,"title":"Reference Image Urls"},"aspect_ratio":{"type":"string","enum":["1:1","2:3","3:2","3:4","4:3","9:16","16:9"],"title":"Aspect Ratio","default":"1:1"},"image_size":{"type":"string","enum":["1K","2K","4K"],"title":"Image Size","default":"1K"},"external_ref":{"anyOf":[{"type":"string","maxLength":256},{"type":"null"}],"title":"External Ref"},"metadata":{"additionalProperties":true,"type":"object","title":"Metadata"}},"additionalProperties":false,"type":"object","required":["prompt"],"title":"ImageGenerationRequest"},"LipSyncUrlRequest":{"properties":{"video_url":{"type":"string","maxLength":4096,"minLength":1,"title":"Video Url"},"audio_url":{"type":"string","maxLength":4096,"minLength":1,"title":"Audio Url"},"face_restore":{"type":"boolean","title":"Face Restore","default":false}},"additionalProperties":false,"type":"object","required":["video_url","audio_url"],"title":"LipSyncUrlRequest","examples":[{"audio_url":"https://storage.example.com/audio/speech-10s.mp3","face_restore":true,"video_url":"https://storage.example.com/video/input.mp4"}]},"OCRRegion":{"properties":{"name":{"type":"string","maxLength":128,"minLength":1,"title":"Name","default":"full"},"bbox":{"anyOf":[{"items":{"type":"integer"},"type":"array","maxItems":4,"minItems":4},{"type":"null"}],"title":"Bbox"}},"additionalProperties":false,"type":"object","title":"OCRRegion"},"OCRUrlBatchRequest":{"properties":{"job_id":{"anyOf":[{"type":"string","maxLength":128,"minLength":1},{"type":"null"}],"title":"Job Id"},"source_lang_hint":{"anyOf":[{"type":"string","maxLength":16,"minLength":2},{"type":"null"}],"title":"Source Lang Hint"},"images":{"items":{"$ref":"#/components/schemas/OCRUrlImage"},"type":"array","maxItems":20,"minItems":1,"title":"Images"}},"additionalProperties":false,"type":"object","required":["images"],"title":"OCRUrlBatchRequest","examples":[{"images":[{"image_id":"front","regions":[],"url":"https://storage.example.com/images/front.png"}],"job_id":"order-20260802-001","source_lang_hint":"zh"}]},"OCRUrlImage":{"properties":{"image_id":{"type":"string","maxLength":128,"minLength":1,"title":"Image Id"},"url":{"type":"string","maxLength":4096,"minLength":1,"title":"Url"},"time":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Time"},"regions":{"items":{"$ref":"#/components/schemas/OCRRegion"},"type":"array","maxItems":32,"title":"Regions"}},"additionalProperties":false,"type":"object","required":["image_id","url"],"title":"OCRUrlImage"},"ProsodySpec":{"properties":{"speed":{"type":"number","maximum":2.0,"minimum":0.5,"title":"Speed","default":1.0},"volume":{"type":"number","maximum":2.0,"minimum":0.1,"title":"Volume","default":1.0},"pitch":{"type":"number","maximum":2.0,"minimum":0.5,"title":"Pitch","default":1.0}},"type":"object","title":"ProsodySpec"},"ReferenceAsset":{"properties":{"url":{"type":"string","title":"Url"},"kind":{"type":"string","enum":["image","video"],"title":"Kind"},"label":{"anyOf":[{"type":"string","maxLength":120},{"type":"null"}],"title":"Label"}},"additionalProperties":false,"type":"object","required":["url","kind"],"title":"ReferenceAsset"},"SceneUrlJobRequest":{"properties":{"source_uri":{"type":"string","maxLength":4096,"minLength":1,"title":"Source Uri"},"filename":{"type":"string","maxLength":256,"minLength":1,"pattern":"^[^/\\\\]+$","title":"Filename","default":"scene.mp4"},"threshold":{"type":"number","maximum":255.0,"minimum":1.0,"title":"Threshold","default":27.0},"min_scene_len":{"type":"integer","maximum":1000.0,"minimum":1.0,"title":"Min Scene Len","default":15},"external_ref":{"anyOf":[{"type":"string","maxLength":256},{"type":"null"}],"title":"External Ref"},"run_id":{"anyOf":[{"type":"string","maxLength":256},{"type":"null"}],"title":"Run Id"},"campaign_id":{"anyOf":[{"type":"string","maxLength":256},{"type":"null"}],"title":"Campaign Id"},"project_id":{"anyOf":[{"type":"string","maxLength":256},{"type":"null"}],"title":"Project Id"},"metadata":{"additionalProperties":true,"type":"object","title":"Metadata"}},"additionalProperties":false,"type":"object","required":["source_uri"],"title":"SceneUrlJobRequest","examples":[{"external_ref":"order-20260803-001","filename":"scene.mp4","metadata":{},"min_scene_len":15,"source_uri":"https://storage.example.com/video/source.mp4","threshold":27.0}]},"TTSCloneMode":{"type":"string","enum":["auto","controllable","ultimate"],"title":"TTSCloneMode"},"TTSEmotionStrategy":{"type":"string","enum":["auto","inherit","force"],"title":"TTSEmotionStrategy"},"TTSJobAccepted":{"properties":{"job_id":{"type":"string","title":"Job Id"},"status":{"type":"string","title":"Status"},"duplicate":{"type":"boolean","title":"Duplicate","default":false}},"type":"object","required":["job_id","status"],"title":"TTSJobAccepted"},"TTSJobRequest":{"properties":{"text":{"type":"string","maxLength":20000,"minLength":1,"title":"Text","description":"异步长语音正文，最多20000字符；服务端自动分段并合并。"},"language":{"type":"string","maxLength":16,"minLength":2,"title":"Language","description":"语言代码；省略或传 auto 时根据合成文本自动判断","default":"auto"},"voice_profile_id":{"type":"string","maxLength":128,"minLength":1,"title":"Voice Profile Id","default":"default"},"provider":{"$ref":"#/components/schemas/TTSProviderName","default":"auto"},"audio":{"$ref":"#/components/schemas/AudioSpec"},"prosody":{"$ref":"#/components/schemas/ProsodySpec"},"timing":{"$ref":"#/components/schemas/TimingSpec"},"metadata":{"additionalProperties":{"type":"string"},"type":"object","title":"Metadata"},"seed":{"anyOf":[{"type":"integer","minimum":0.0},{"type":"null"}],"title":"Seed"},"reference_audio_url":{"anyOf":[{"type":"string","maxLength":4096,"minLength":1},{"type":"null"}],"title":"Reference Audio Url","description":"可选的公网HTTPS参考音频URL；提供后使用VoxCPM2深度克隆。"},"prompt_text":{"anyOf":[{"type":"string","maxLength":5000},{"type":"null"}],"title":"Prompt Text","description":"参考音频准确文本；缺失或为空时先自动识别参考音频。"},"emotion":{"anyOf":[{"type":"string","maxLength":200},{"type":"null"}],"title":"Emotion"},"emotion_enhance":{"type":"boolean","title":"Emotion Enhance","default":false},"quality_mode":{"$ref":"#/components/schemas/TTSQualityMode","default":"standard"},"clone_mode":{"$ref":"#/components/schemas/TTSCloneMode","default":"auto"},"emotion_strategy":{"$ref":"#/components/schemas/TTSEmotionStrategy","default":"auto"},"idempotency_key":{"type":"string","maxLength":256,"minLength":8,"title":"Idempotency Key"}},"type":"object","required":["text","idempotency_key"],"title":"TTSJobRequest","examples":[{"idempotency_key":"order-20260802-0001","language":"zh","provider":"auto","text":"这是一条异步语音合成任务。","voice_profile_id":"default"}]},"TTSJobStatus":{"properties":{"job_id":{"type":"string","title":"Job Id"},"status":{"type":"string","title":"Status"},"result":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Result"},"error":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Error"}},"type":"object","required":["job_id","status"],"title":"TTSJobStatus"},"TTSProviderName":{"type":"string","enum":["auto","voxcpm2","doubao","elevenlabs"],"title":"TTSProviderName"},"TTSPublicSpeechRequest":{"properties":{"text":{"type":"string","maxLength":5000,"minLength":1,"title":"Text"},"language":{"type":"string","maxLength":16,"minLength":2,"title":"Language","description":"语言代码；省略或传 auto 时根据合成文本自动判断","default":"auto"},"voice_profile_id":{"type":"string","maxLength":128,"minLength":1,"title":"Voice Profile Id","default":"default"},"provider":{"$ref":"#/components/schemas/TTSProviderName","default":"auto"},"audio":{"$ref":"#/components/schemas/AudioSpec"},"prosody":{"$ref":"#/components/schemas/ProsodySpec"},"timing":{"$ref":"#/components/schemas/TimingSpec"},"metadata":{"additionalProperties":{"type":"string"},"type":"object","title":"Metadata"},"seed":{"anyOf":[{"type":"integer","minimum":0.0},{"type":"null"}],"title":"Seed"},"reference_audio_url":{"anyOf":[{"type":"string","maxLength":4096,"minLength":1},{"type":"null"}],"title":"Reference Audio Url"},"prompt_text":{"anyOf":[{"type":"string","maxLength":5000},{"type":"null"}],"title":"Prompt Text","description":"参考音频准确文本；非空时直接使用，缺失或为空时先自动 ASR；生成结果使用内容 CER 与说话人相似度双门禁"},"emotion":{"anyOf":[{"type":"string","maxLength":200},{"type":"null"}],"title":"Emotion","description":"可选的自然语言情绪、节奏、停顿和重音要求"},"emotion_enhance":{"type":"boolean","title":"Emotion Enhance","description":"使用配置的豆包大模型增强情绪表达指令；失败时自动降级","default":false},"quality_mode":{"$ref":"#/components/schemas/TTSQualityMode","description":"standard默认单次生成并异步审计；需要同步门禁的克隆会按需重试，跨语言最多六个候选并返回最佳结果","default":"standard"},"clone_mode":{"$ref":"#/components/schemas/TTSCloneMode","description":"克隆模式：auto 自动路由、controllable 隔离参考、ultimate 延续克隆","default":"auto"},"emotion_strategy":{"$ref":"#/components/schemas/TTSEmotionStrategy","description":"情绪策略：auto 自动判断、inherit 继承参考、force 强制目标情绪","default":"auto"}},"additionalProperties":false,"type":"object","required":["text"],"title":"TTSPublicSpeechRequest","examples":[{"provider":"auto","text":"您好，这是 AI Centre 2 的语音合成示例。","voice_profile_id":"default"},{"emotion":"真诚、温暖、有感染力","emotion_enhance":false,"prompt_text":"参考音频中准确说出的文字","prosody":{"pitch":1.0,"speed":1.0,"volume":1.0},"quality_mode":"standard","reference_audio_url":"https://storage.example.com/audio/reference-10s.mp3","text":"这段文字将使用参考音频进行深度语音克隆。","voice_profile_id":"default"}]},"TTSQualityMode":{"type":"string","enum":["standard","strict"],"title":"TTSQualityMode"},"TimingSpec":{"properties":{"target_duration_ms":{"anyOf":[{"type":"integer","maximum":600000.0,"minimum":100.0},{"type":"null"}],"title":"Target Duration Ms"},"tolerance_ms":{"type":"integer","maximum":10000.0,"minimum":0.0,"title":"Tolerance Ms","default":200}},"type":"object","title":"TimingSpec"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"},"VideoGenerationRequest":{"properties":{"model":{"type":"string","maxLength":128,"minLength":1,"title":"Model","default":"seedance-2.0"},"channel":{"type":"string","enum":["jmapi","libtv","auto"],"title":"Channel","default":"jmapi"},"prompt":{"type":"string","maxLength":10000,"minLength":1,"title":"Prompt"},"reference_image_urls":{"items":{"type":"string"},"type":"array","maxItems":9,"title":"Reference Image Urls"},"reference_video_urls":{"items":{"type":"string"},"type":"array","maxItems":3,"title":"Reference Video Urls"},"reference_audio_urls":{"items":{"type":"string"},"type":"array","maxItems":3,"title":"Reference Audio Urls"},"duration_seconds":{"type":"integer","maximum":15.0,"minimum":2.0,"title":"Duration Seconds","default":5},"resolution":{"type":"string","enum":["480p","720p","1080p","2K"],"title":"Resolution","default":"720p"},"aspect_ratio":{"type":"string","enum":["9:16","16:9","1:1","4:3","3:4"],"title":"Aspect Ratio","default":"9:16"},"sound":{"type":"boolean","title":"Sound","default":false},"external_ref":{"anyOf":[{"type":"string","maxLength":256},{"type":"null"}],"title":"External Ref"},"metadata":{"additionalProperties":true,"type":"object","title":"Metadata"}},"additionalProperties":false,"type":"object","required":["prompt"],"title":"VideoGenerationRequest"},"VideoReviewUrlJobRequest":{"properties":{"video_url":{"type":"string","title":"Video Url"},"language":{"type":"string","maxLength":16,"minLength":1,"title":"Language","default":"auto"},"analysis_profile":{"type":"string","enum":["advertising","short_drama","product_demo"],"title":"Analysis Profile","default":"advertising"},"include_audio":{"type":"boolean","title":"Include Audio","default":true},"include_transcript":{"type":"boolean","title":"Include Transcript","default":true},"continuity_check":{"type":"boolean","title":"Continuity Check","default":false},"reference_assets":{"items":{"$ref":"#/components/schemas/ReferenceAsset"},"type":"array","maxItems":8,"title":"Reference Assets"},"external_ref":{"anyOf":[{"type":"string","maxLength":160},{"type":"null"}],"title":"External Ref"},"metadata":{"additionalProperties":true,"type":"object","title":"Metadata"}},"additionalProperties":false,"type":"object","required":["video_url"],"title":"VideoReviewUrlJobRequest","examples":[{"analysis_profile":"advertising","continuity_check":false,"external_ref":"review-001","include_audio":true,"include_transcript":true,"language":"auto","metadata":{},"reference_assets":[],"video_url":"https://storage.example.com/video/ad.mp4"}]},"VideoUpscaleUrlJobRequest":{"properties":{"source_uri":{"type":"string","maxLength":4096,"minLength":1,"title":"Source Uri"},"provider":{"type":"string","enum":["auto","flashvsr","flashvsr_v2","seedvr2"],"title":"Provider","default":"auto"},"max_resolution":{"type":"integer","maximum":3840.0,"minimum":480.0,"title":"Max Resolution","default":1920},"external_ref":{"anyOf":[{"type":"string","maxLength":256},{"type":"null"}],"title":"External Ref"},"metadata":{"additionalProperties":true,"type":"object","title":"Metadata"}},"additionalProperties":false,"type":"object","required":["source_uri"],"title":"VideoUpscaleUrlJobRequest","examples":[{"external_ref":"order-20260907-001","max_resolution":1920,"metadata":{},"provider":"auto","source_uri":"https://storage.example.com/video/source.mp4"}]},"WatermarkUrlJobRequest":{"properties":{"source_uri":{"type":"string","maxLength":4096,"minLength":1,"title":"Source Uri"},"filename":{"type":"string","maxLength":256,"minLength":1,"pattern":"^[^/\\\\]+\\.mp4$","title":"Filename","default":"watermark_removed.mp4"},"mode":{"type":"string","enum":["light","intensive"],"title":"Mode","default":"light"},"keep_intermediates":{"type":"boolean","title":"Keep Intermediates","default":false},"external_ref":{"anyOf":[{"type":"string","maxLength":256},{"type":"null"}],"title":"External Ref"},"run_id":{"anyOf":[{"type":"string","maxLength":256},{"type":"null"}],"title":"Run Id"},"campaign_id":{"anyOf":[{"type":"string","maxLength":256},{"type":"null"}],"title":"Campaign Id"},"project_id":{"anyOf":[{"type":"string","maxLength":256},{"type":"null"}],"title":"Project Id"},"metadata":{"additionalProperties":true,"type":"object","title":"Metadata"}},"additionalProperties":false,"type":"object","required":["source_uri"],"title":"WatermarkUrlJobRequest","examples":[{"external_ref":"order-20260807-001","filename":"watermark_removed.mp4","keep_intermediates":false,"metadata":{},"mode":"intensive","source_uri":"https://storage.example.com/video/source.mp4"}]}}},"tags":[{"name":"系统状态","description":"中台及上游服务健康状态。"},{"name":"唇形驱动","description":"MuseTalk 唇形驱动与可选 GFPGAN 人脸修复。"},{"name":"语音识别","description":"音频或视频的中文语音识别与时间分段。"},{"name":"语音合成","description":"普通 TTS、VoxCPM2 深度语音克隆及异步任务。"},{"name":"OCR 文字识别","description":"公网 HTTPS 图片批量文字识别。"},{"name":"人脸处理","description":"视频人脸处理任务提交、查询与取消。"},{"name":"视频切片","description":"使用 SceneDetect 检测场景并输出 OSS 视频切片。"},{"name":"AI 视频拉片","description":"无参考视频拉片、拆镜、声音与问题证据分析。"},{"name":"水印处理","description":"视频水印脱敏的同步与异步处理。"},{"name":"视频深度推理","description":"使用 Video Depth Anything Small 生成单目灰度深度视频。"},{"name":"通用视频生成","description":"按模型和渠道提交原子视频生成任务。"},{"name":"图像生成","description":"通过已注册渠道提交原子图像生成任务。"},{"name":"音频分离","description":"使用Bandit v2将音视频分离为对白、音乐、音效和背景轨。"},{"name":"视频超分","description":"FlashVSR V2、FlashVSR与SeedVR2智能渠道视频超分。"},{"name":"MiniMax H3视频生成","description":"纯文本或参考素材驱动的MiniMax H3异步视频生成与多机调度。"}]}